<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User</h1>

<a href="/userDetail/userDetailList">
    Tạo mới User
</a>
<div >
    <table border="1">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>age</th>
            <th>address</th>
            <th>email</th>

        </tr>
        <tr th:each="detail : ${userDetail1}">
            <td th:text="${detail.id}"></td>
            <td th:text="${detail.getName()}"></td>
            <td th:text="${detail.getAge()}"></td>
            <td th:text="${detail.getAddress()}"></td>
            <td th:text="${detail.getEmail()}"></td>
<!--            <td><a th:href="@{/user/delete/{id}(id=${user.id})}">delete</a></td>-->
<!--            <td><a th:href="@{/user/userEdit/{id}(id=${user.id})}">update</a></td>-->
        </tr>

    </table>
</div>
</body>
</html>