<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>-->
</head>
<body>
<h1>User</h1>

<a href="/userDetail/userDetailCreate">
    Tạo mới User
</a>
<div >
    <table border="1">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>age</th>
            <th>address</th>
            <th>email</th>
            <th>update</th>
            <th>delete</th>

        </tr>
        <tr th:each="detail : ${userDetail1}">
            <td th:text="${detail.id}"></td>
            <td th:text="${detail.getName()}"></td>
            <td th:text="${detail.getAge()}"></td>
            <td th:text="${detail.getAddress()}"></td>
            <td th:text="${detail.getEmail()}"></td>
            <td><a th:href="@{/userDetail/delete/{id}(id=${detail.id})}">delete</a></td>
            <td><a th:href="@{/userDetail/userDetailEdit/{id}(id=${detail.id})}">update</a></td>
        </tr>

    </table>
</div>
</body>
</html>