<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blog</h1>

<a href="/blog/blogCreate">
    Tạo mới blog
</a>
<div >
    <table border="1">
        <tr>
            <th>#</th>
            <th>content</th>
            <th>title</th>
            <th>time</th>
            <th>update</th>
            <th>delete</th>

        </tr>
        <tr th:each="blog : ${blog1}">
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.getContent()}"></td>
            <td th:text="${blog.getTitle()}"></td>
            <td th:text="${blog.getTime()}"></td>
            <td><a th:href="@{/blog/delete/{id}(id=${blog.id})}">delete</a></td>
            <td><a th:href="@{/blog/blogEdit/{id}(id=${blog.id})}">update</a></td>
        </tr>

    </table>
</div>
</body>
</html>