<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>CREATE</title>
</head>
<body>
<h1>Create blog</h1>
<p>
    <a href="/blog">blog list</a>
</p>
<!--<th:block th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->
<form th:action="@{/blog/blogCreate}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <!--        <tr>-->
        <!--            <td>time:</td>-->
        <!--            <td><input type="datetime-local" th:field="*{time}"/></td>-->
        <!--        </tr>-->
        <tr>
            <td></td>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>