<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User</h1>

<a href="/user/userCreate">
    Tạo mới User
</a>
<div >
    <table border="1">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>password</th>
            <th>update</th>
            <th>delete</th>

        </tr>
        <tr th:each="user : ${user1}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td><a th:href="@{/user/delete/{id}(id=${user.id})}">delete</a></td>
            <td><a th:href="@{/user/userEdit/{id}(id=${user.id})}">update</a></td>
        </tr>

    </table>
</div>
</body>
</html>