<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User</h1>

<a href="/manh/Create">
    Tạo mới User
</a>
<div >
    <table border="1">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>password</th>

        </tr>
        <tr th:each="user : ${manh}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getPassword()}"></td>
        </tr>

    </table>
</div>
</body>
</html>