<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update user</h1>
<p>
    <a href="/user">User list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/user/userEdit}" th:object="${user1}" method="post">
    <label>
        <input th:type="hidden" th:field="*{id}">
    </label>
    <table>
        <tr>
            <td> name:</td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><label>
                <input type="text" th:field="*{password}"/>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update user"></td>
        </tr>
    </table>
</form>
</body>
</html>